name: polocloud-i18n deployment on sonatype

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Publish polocloud-i18n to Sonatype
        env:
          OSSRH_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: ./gradlew publish -x test --parallel --build-cache
